@mixin nth-children($points...) {
  @each $point in $points {
    &:nth-child(#{$point}) {
      @content;
    }
  }
}

body {
    font-family: 'Roboto Slab', serif;
}
.loading {
     margin: 10px;
     animation: pulse 1s infinite ease-in-out;
  border: none !important;
 }
h1.loading{
  height: 5vh;
  width: 40%;
}
p.loading {
  height: 35vh;
}
button.loading {
  height: 2.5vh;
}
@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

